.idea/
.vscode/
node_modules/
build/
temp/
*.log
dump.rdb
.env
# Local Netlify folder
.netlify
images/

node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store