@font-face {
  font-family: "Mori";
  src: url("assets/fonts/PPMori-Regular.otf");
  font-weight: 400 500;
}

@font-face {
  font-family: "Mori";
  src: url("assets/fonts/PPMori-Extralight.otf");
  font-weight: 100 300;
}
@font-face {
  font-family: "Mori";
  src: url("assets/fonts/PPMori-SemiBold.otf");
  font-weight: 600 900;
}
@font-face {
  font-family: "Mori";
  src: url("assets/fonts/PPMori-RegularItalic.otf");
  font-weight: 400 600;
  font-style: italic;
}
@font-face {
  font-family: "Mori";
  src: url("assets/fonts/PPMori-ExtralightItalic.otf");
  font-weight: 100 300;
  font-style: italic;
}
@font-face {
  font-family: "Mori";
  src: url("assets/fonts/PPMori-SemiBoldItalic.otf");
  font-weight: 700 900;
  font-style: italic;
}

/* Pangram Sans */

@font-face {
  font-family: "Pangram";
  src: url("assets/fonts/PPPangramSans-CompactRegular.otf");
  font-weight: 500 600;
}

@font-face {
  font-family: "Pangram";
  src: url("assets/fonts/PPPangramSans-NarrowSemibold.otf");
  font-weight: 700;
}

body {
  font-family: "Mori", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: visible;
}

a {
  text-decoration: none;
}

button {
  border: unset;
  background-color: unset;
}

@keyframes expandSearch {
  from {
    width: "32px";
  }

  to {
    width: "120px";
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* .carousel-nav-buttons {
  border: "1px solid red";
} */
